<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.musipo">

    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".helper.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <!-- Firebase Notifications -->
        <service android:name=".fcm.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".fcm.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <!-- ./Firebase Notifications -->
        <!-- <activity android:name=".ui.activity.LOGIN" /> -->
        <activity android:name=".ui.activity.OTPVerifyActivity" />
        <activity android:name=".ui.activity.LoginActivity" />
        <activity
            android:name=".ui.activity.ChatRoomActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ChatProfileActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.EditNameActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.EditStatusActivity"
            android:parentActivityName=".ui.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.activity.MainActivity" />
        </activity>
        <activity android:name=".ui.activity.UserContactListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.activity.MainActivity" />
        </activity>
        <activity android:name=".ui.activity.PlayerActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.PlayListActivity"
            android:label="@string/title_activity_play_list"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musipo.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.MusicStatusActivity"
            android:label="@string/title_activity_music_status"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musipo.ui.activity.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activity.GroupActivity"
            android:label="@string/title_activity_group"
            android:parentActivityName=".ui.activity.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.musipo.ui.activity.MainActivity" />
<!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>